@import '~antd/dist/antd.css';
@import '~tailwindcss/tailwind.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  background: linear-gradient(to bottom, #0b101c, #213053);
  font-family: "Roboto",sans-serif;
  color: #fff !important;
  min-height: 100vh;
}

html, body {
  width: 100%;
  height: fit-content;
}

.ant-menu::before{
  content: none !important;
}
.ant-menu::after{
  content: none !important;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{
  border-right: none !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background: transparent !important;
}

.menu-active .ant-menu-title-content a{
  color: #6ADAB3 !important;
}

.ant-modal-content{
  background-color: #313845 !important;
  border-radius: 16px !important;
}

particle {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: contain;
}

.game-layout{
  height: calc(100vh - 75px);
}

.font-pacifico{
  font-family: "Pacifico", cursive;
}

.monkey:active{
  transform: scale(0.95);
  transition: ease-in-oute 0.2s;
}

.ant-notification-notice{
  background-color: #313845 !important;
}

.ant-notification-notice-message{
  color: #FF6464 !important;
  font-size: 14px !important;
}

.ant-notification-notice-close-icon{
  color: #fff !important;
}

::-webkit-scrollbar {
  height: 6px;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #33343e 0 0 no-repeat padding-box;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}